# Det här en är en avsiktilgt synlig gitignore-fil som är tänkt som en mall till LaTeX-repositories.

#Allmänt onödiga filer
*~

#Onödig LaTeX-output
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
#<namn>.pdf

*-eps-converted-to.pdf

#Från Beamer
*.nav
*.snm
